<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>

  
    <h1>My Projects </h1>
  </div>

  <ul >
    <li >
        <a class="projects" href="/pageApi">API Web App</a>
    </li>
    <li >
      <a class="projects" href="/database">Database Web App</a>
  </li>
</ul>
  
</body>

</html>
